:root {
    --PrimaryFont: 'Poppins', sans-serif;
    --SecondaryFont: 'Style Script', cursive;
    --PrimaryColor: #f01b6b;
    --BorderColor: #2f2f2f;
    --Black: #000000;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--PrimaryFont);
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

.hideit {
    opacity: 0
}

.visibleit {
    opacity: 1
}

a,
button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button-style {
    border: 0;
    box-shadow: none;
    outline: 0;
    background: -moz-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: -webkit-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: -o-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: -ms-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    color: var(--white);
    padding: 0 15px;
    line-height: 50px;
    border-radius: 24px;
    min-width: 200px;
    font-size: 18px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: var(--Black);
    border-right: 1px solid var(--BorderColor);
}

.hamburger {
    background-color: var(--Black);
    height: 61px;
    width: 61px;
    padding: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--BorderColor);
    right: -61px;
    top: 0;
    position: absolute;
    z-index: 9;
}

.artist-name {
    white-space: nowrap;
    color: var(--white);
    position: absolute;
    left: 80px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.artist-name span {
    display: block;
    width: 100%;
    font-size: 12px;
    letter-spacing: 3.4px;
    color: var(--PrimaryColor);
}

#nav-icon3 {
    width: 34px;
    height: 32px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--PrimaryColor);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 13px;
}

#nav-icon3 span:nth-child(4) {
    top: 26px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.logo img {
    width: 100%;
    max-width: 270px;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    padding: 0 25px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid var(--BorderColor);
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: var(--PrimaryColor);
    color: var(--white);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.menu ul li .active::before {
    width: 100%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: -8;
    background: -moz-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: -webkit-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: -o-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: -ms-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    background: radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
}

aside .information {
    bottom: 0;
    left: 0;
    width: 300px;
}

aside .information a {
    color: var(--white);
    font-size: 13px;
}

aside .information a>i {
    font-size: 24px;
}

.sidebar-wrapper {
    overflow: scroll;
    max-height: 580px;
}

.sidebar-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.sidebar-wrapper::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--PrimaryColor);
}

main {
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    margin-left: 300px;
}

.featured-section {
    background: var(--Black) url('../images/featuredImage.png') no-repeat;
    height: 100vh;
    background-position: left bottom;
}

.featured-section .featured-image {
    width: 100%;
    display: none;
}

.featured-section .featured-content {
    padding: 0 40px 0 0;
}

.featured-section .featured-content h1 {
    color: var(--white);
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 20px;
}

.featured-section .featured-content h2 {
    font-weight: 100;
    color: var(--white);
    font-size: 30px;
    margin: 20px 0;
}

article {
    --c: #ed2b7f;
    --s0: calc(1.25em + 6px);
    --s1: calc(1.25em + 6px + 0.5em);
    place-self: center;
    position: relative;
    width: 335px;
    height: 456px;
    border: solid 0 transparent;
    border-width: 0 var(--s0) var(--s0) 0;
    padding: 26px 0 0 26px;
    background: #efbaba padding-box;
    /* background: -moz-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%) padding-box;
    background: -webkit-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%) padding-box;
    background: -o-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%) padding-box;
    background: -ms-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%) padding-box;
    background: radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%) padding-box; */
}

article::before {
    position: absolute;
    top: 0;
    left: 0;
    border: inherit;
    border-width: 1.25em 0 0 1.25em;
    width: 21em;
    height: 28.5em;
    box-shadow: inset 0 0 0 6px var(--c);
    mix-blend-mode: plus-lighter;
    pointer-events: none;
    content: "";
}

article .about-image {
    width: 100%;
    height: 100%;
}

.about-section {
    position: relative;
    background-color: #fff;
    padding: 80px 0;
    height: 100vh;
}

.about-section h3 {
    color: var(--PrimaryColor);
    font-size: 32px;
    font-weight: 600;
    margin: 30px 0 10px;
}

.about-section h2 {
    color: var(--Black);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 20px;
}

.about-section p,
.about-section ul li {
    color: var(--Black);
    font-size: 15px;
    line-height: 24px;
}

.about-section ul {
    list-style-position: inside;
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}

.about-section ul li {
    position: relative;
    padding-left: 22px;
}

.about-section ul li:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--PrimaryColor);
}

.on-mobile {
    display: none;
}

/************** Media Query Start Here *************/

@media (min-width:1199px) {
    .about-section h2 {
        padding-right: 130px;
    }
}

@media (min-width:1024px) {
    .menu ul li a:hover::before {
        width: 100%;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        z-index: -8;
        background: -moz-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
        background: -webkit-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
        background: -o-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
        background: -ms-radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
        background: radial-gradient(circle at 50% 50%, rgba(146, 0, 183, 1) 0%, rgba(245, 46, 121, 1) 100%);
    }
}

@media (min-width:991px) {
    .left-column {
        padding-left: 60px;
    }
}

@media (max-width:1199px) {
    .featured-section {
        background-position: -70px 100%;
        background-size: 550px;
    }
}

@media (max-width:991px) {
    .featured-section {
        padding: 40px 0;
        background-image: none;
        height: auto;
    }

    .featured-section .col-md-6 {
        flex: initial;
        width: 100%;
    }

    .featured-section .featured-image {
        display: block;
        margin: 0 auto 30px;
        max-width: 340px;
    }

    .featured-section .featured-content {
        padding: 0 0 0 0;
        width: 100%;
        max-width: 520px;
        text-align: center;
    }

    .featured-section .featured-content h1 {
        font-size: 32px;
        margin: 0 0 10px;
    }

    .featured-content .img-fluid {
        width: 100%;
        max-width: 300px;
    }

    .featured-section .featured-content h2 {
        font-size: 26px;
        margin: 10px 0 30px;
    }

    article {
        margin-top: 30px;
        width: 305px;
        height: 385px;
    }

    article::before {
        width: 19em;
        height: 24em;
    }

    .on-desktop {
        display: none;
    }

    .on-mobile {
        display: block;
    }

    .about-section h3 {
        margin: 0 0 10px;
    }

    .about-section {
        padding: 50px 0;
        height: auto;
    }
}

@media (max-width:767px) {
    .sidebar-wrapper {
        max-height: 450px;
    }

    .logo img {
        max-width: 150px;
    }

    aside,
    aside .information {
        width: 260px;
        z-index: 9;
    }

    .hamburger {
        display: flex;
    }

    .fake-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 8;
        width: 100%;
        height: 61px;
        background-color: var(--Black);
    }

    .featured-section {
        padding: 77px 0 40px;
    }

    aside {
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    body.open aside {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    main {
        width: calc(100%);
        margin-left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    body.open main {
        width: calc(100%);
        margin-left: 0;
        -webkit-transform: translateX(260px);
        -moz-transform: translateX(260px);
        -o-transform: translateX(260px);
        transform: translateX(260px);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
}

@media (max-width:568px) {
    .featured-content .img-fluid {
        max-width: 280px;
        border: 1px dashed #878787;
        padding: 10px 15px;
        background: #343434;
    }

    .featured-section .featured-image {
        margin: 0 auto 20px;
        max-width: 275px;
    }

    .featured-section .featured-content h1 {
        font-size: 26px;
    }

    .featured-section .featured-content h2 {
        font-size: 20px;
        margin: 12px 0 25px;
    }
}